<h3>Create Rayon</h3>  
<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4" >  
    <div [hidden]="submitted" style="width: 400px;">  
      <form [formGroup]="Rayonsaveform" #save (ngSubmit)="saveRayon(saveRayon)">   
          <div class="form-group">  
              <label for="name">Rayon libelle</label>  
              <input type="text" class="form-control"  formControlName="libelleRayon" data-toggle="tooltip"   
                 data-placement="right" title="Enter libelle Rayon" >  
                 <div class="alert alert-danger" *ngIf="Rayonlibelle.errors">
                  <div *ngIf="Rayonlibelle.errors.required">champ obligatoire</div>
                  <div *ngIf="Rayonlibelle.errors.pattern">pattern non respecte</div>
                        </div>
          </div>  
          <div class="form-group">  
              <label for="name">code Rayons</label>  
              <input type="text" class="form-control" formControlName="codeRayon"   
                data-toggle="tooltip" data-placement="right" title="Enter code rayon">  
                <div class="alert alert-danger" *ngIf="Rayoncode.errors">
                  <div *ngIf="Rayoncode.errors.required">champ obligatoire</div>
                  <div *ngIf="Rayoncode.errors.pattern">pattern non respecte</div>
                        </div> 
          </div>  
          <button type="submit" class="btn btn-success">Submit</button>  
      </form>  
  </div>  
  </div>  
  <div class="col-sm-4"></div>  
</div>  
<div class="row">  
  <div class="col-sm-4"></div>  
  
  <div class="col-sm-4"></div>  
</div>  