  
<h3 style="text-align: center;">Modifier un fournisseur </h3>
<form [formGroup]="myForm" (submit)="edit()" >
    <div class="form-group">
        <label>idFournisseur</label>
        <input type="text" class="form-control" formControlName="idFournisseur">
    </div> 
    <div class="form-group">
        <label>libelle Fornisseur</label>
        <input type="text" class="form-control" formControlName="libelleFornisseur">
    </div> 
    <div class="form-group">
        <label>code Fornisseur</label>
        <input type="text" class="form-control" formControlName="codeFornisseur">
    </div> 
    <br>
    <input type="submit" class="btn btn-primary" style="margin-left: 40%; margin-bottom: 20px;" value="Modifier">
</form>
