<h3>Create Facture</h3>  
<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4" >  
    <div [hidden]="submitted" style="width: 400px;">  
      <form #f="ngForm"  (submit)="saveFacture()">  
      
          <div class="form-group">  
            <label >montantTotal </label>  
            <input type="text" class="form-control"  name="montantTotal"  [(ngModel)]= "detailfacture.facture.montantTotal" #montantTotal ="ngModel" data-toggle="tooltip"   
               data-placement="right" placeholder="Enter montantTotal" >  
      
        </div>  
     
          <div class="form-group">  
              <label >dateFacture</label>  
              <input type="text" class="form-control" name="dateFacture"  [(ngModel)]="detailfacture.facture.dateFacture" #dateFacture="ngModel" 
                data-toggle="tooltip" data-placement="right" title="Enter dateFacture">  
               
          </div>  
          <div class="form-group">  
            <label >montantRemise </label>  
            <input type="text" class="form-control"  name="montantRemise"  [(ngModel)]= "detailfacture.facture.montantRemise" #montantRemise ="ngModel" data-toggle="tooltip"   
               data-placement="right" placeholder="Enter montantRemises" >  
      
        </div>            <div class="form-group">  
            <label for="name">active</label>  
            <input type="text" class="form-control" name="active"    [(ngModel)]="detailfacture.facture.active" #active="ngModel"
              data-toggle="tooltip" data-placement="right" title="Enter active">  
            
        </div>
        <div class="form-group">  
            <label >montantFacture</label>  
            <input type="text" class="form-control"  [(ngModel)]="detailfacture.facture.montantFacture   " #montantFacture="ngModel"
              data-toggle="tooltip"name="montantFacture" data-placement="right" title="Enter montantFacture">  
             
        </div>
        <div class="form-group">  
          <label >qte  {{detailfacture.qte}}</label>  
          <input type="text" class="form-control"  [(ngModel)]="detailfacture.qte  "  #qte="ngModel" name="qte" >
          </div>
          <div class="form-group">  
            <label >prixTotatl  {{detailfacture.prixTotal}}</label>  
            <input type="text" class="form-control"  [(ngModel)]="detailfacture.prixTotal  "  #prixTotatl="ngModel" name="prixTotal" >
            </div>
            <div class="form-group">  
              <label >pourcentageRemise  {{detailfacture.pourcentageRemise}}</label>  
              <input type="text" class="form-control"  [(ngModel)]="detailfacture.pourcentageRemise  "  #pourcentageRemise="ngModel" name="pourcentageRemise" >
              </div>

      
    
  
          <button type="submit" class="btn btn-success">Submit</button>  
      </form>  
      
  </div>  
  </div>  
  <div class="col-sm-4"></div>  
</div>  
<div class="row">  
  <div class="col-sm-4"></div>  
  
  <div class="col-sm-4"></div>  
</div>