<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h1 class="card-title">Detail Produit </h1><br>
             
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
  
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
             
            </div>
            
            <!-- /.card-header -->
            <div class="card-body">
              <table  class="table table-bordered">
                <thead align="center" >
                  <tr>
                    <th>Id DetailProduit</th>
                    <th>dateDernierModification</th>
                    <th>datecreation</th>
                    <th>CategorieProduit</th>
                  </tr>
                </thead>
                <tbody align="center">
                 <tr *ngFor="let i of listdp ; let u=index">
                     <td>{{i.idDetailProduit}}</td>
                     <td>{{i.dateDernierModification}}</td>
                     <td>{{i.datecreation}}</td>
                     <td>{{i.categorieProduit}}</td>
             
                     <td><button type="button" class="btn btn-block btn-outline-success btn-flat"  (click)="updateDetailProduit(i.idDetailProduit)" >Modifier</button> 
                        <button type="button" class="btn btn-block btn-outline-danger btn-flat" (click)="deleteDetailProduit(i.idDetailProduit,u)"   >Supprimer</button>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
           
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
              </ul>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>

      <!-- /.row -->
    <!-- /.container-fluid -->
    </section>
  
  